.carousel_banner {
    .banner {
        height: 110vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
    .slick-next {
        color: #9e9e9e;
        font-size: 50px;
        right: 50px;
        &:hover {
            color: lightgrey;
            font-size: 50px;
            right: 40px;
        }
        &::before {
            display: none;
        }
    }
    .slick-prev {
        color: #9e9e9e;
        font-size: 50px;
        left: 50px;
        z-index: 2;
        &:hover {
            color: lightgrey;
            font-size: 50px;
            left: 40px;
        }
        &::before {
            display: none;
        }
    }
}
